@charset "utf-8";

@import url("global.css");

main{
  padding: 2rem;
  margin: 0 auto;
}

main section{
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

main aside{
  width: 400px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

main section aside img{
  flex: 1;
  object-fit: cover;
}

main section article{
  flex: 1;
  min-width: 500px;
  min-height: 300px;
  max-width: 600px;
  max-height: 400px;
}

main section h2{
  text-align: center;
  margin-bottom: 10px;
}