@charset "utf-8";

@import url("global.css");

main {
  padding: 2rem;
  margin: 0 auto;
  /* background-image: url("../images/viatopia-logo-without-background.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center; */
}

main section {
  flex: 1;
  min-width: 45%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 15em;
}

main aside {
  width: 400px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

main aside img {
  flex: 1;
  object-fit: cover;
}

main section article {
  flex: 1;
  min-width: 35%;
  min-height: 300px;
}

main section h2 {
  text-align: center;
  margin-bottom: 10px;
}
