@charset "utf-8";

@import url("global.css");

main section.avis a {
  background-color: rgba(255, 255, 255, 0);
}

main section.avis a:hover {
  background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 768px) {
  main section:nth-child(1) {
    border: 1px solid white;
    /* height: 500px; */
    background-color: rebeccapurple;
  }

  /* main section:nth-child(1) article div.card-offers div {
    border: 1px solid white;
    height: 500px;
  } */
}
