@charset "utf-8";

@import url("global.css");

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

main div.viatopia-map {
  max-width: 600px;
  max-height: 500px;
  height: 500px;
  width: 550px;
  margin: 20px auto;
}

main div.viatopia-map iframe {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    padding: 0;
  }
  main div.viatopia-map {
    max-width: 600px;
    max-height: 500px;
  }
}
